:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #FFE28B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}



@media (prefers-color-scheme: light) {
  :root {
    background-color: #FFE28B;
  }
}